---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
priorities:
  /: 1.0
  /celojumi: 0.9
  /pancakarma: 0.8
  /pilgrimage: 0.8
changefreq:
  /: weekly
  /celojumi: weekly
  /pancakarma: monthly
  /pilgrimage: monthly
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all -%}
  {%- set path = page.url | replace('.html', '') | replace('/index', '/') -%}
  {%- if path != '/sitemap.xml' and path != '/robots.txt' %}
  <url>
    <loc>{{ site.url }}{{ path }}</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
    <changefreq>{{ changefreq[path] or 'monthly' }}</changefreq>
    <priority>{{ priorities[path] or '0.5' }}</priority>
  </url>
  {%- endif -%}
{%- endfor %}
</urlset>
